<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vendor">Vendor</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the application.</p>
  </main>
  <footer>
    <p>&copy; 2023 MyApp</p>
  </footer>
</body>
</html>
